<p align="center">Now please enter your first and last name.</p>

<form align="center" method="post" action="/names">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="hidden" name="user_name" value=<%= name %> >
  <input type="hidden" name="user_password" value=<%= password %> >
  <input type="submit">
</form>