<p align="center">Please choose a function </p>

<form align="center" method = "post" action = "/function">
    <input type="radio" name = "calc" value = 'plus' > Addition
    <input type="radio" name = "calc" value = 'minus' > Subtraction
    <input type="radio" name = "calc" value = 'times' > Multiplication
    <input type="radio" name = "calc" value = 'divided by' > Division
<br>
<hr/>    
    <p align="center"> And choose two numbers</p>
    <input type='number' min = '1' name='num1'>
	<input type='number' min = '1' name='num2'>
    <input type="hidden" name = "user_name" value=<%=name%>>
    <input type="hidden" name = "user_password" value=<%=password%>>
    <input type="hidden" name = "first_name" value=<%=fname%>>
    <input type="hidden" name = "last_name" value=<%=lname%>>
    <input type="submit" value = "submit values"> 
</form>